pipeline/pl_012_SwitchActivity.json
{
	"name": "pl_012_SwitchActivity",
	"properties": {
		"activities": [
			{
				"name": "GetMetadataFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dsSourcesFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachMetadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetMetadataFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadataFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetVarFileName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "VarFileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SwitchBasedOnFile",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "SetVarFileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@variables('VarFileName')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "WhenCustomerFile",
										"activities": [
											{
												"name": "SetvarResultFileName1",
												"description": "",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "VarResultFileName",
													"value": "CustomerFile"
												}
											}
										]
									},
									{
										"value": "WhenSalesFile",
										"activities": [
											{
												"name": "SetvarResultFileName2",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "VarResultFileName",
													"value": "SalesFile"
												}
											}
										]
									},
									{
										"value": "WhenItemFile",
										"activities": [
											{
												"name": "SetvarResultFileName4",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "VarResultFileName",
													"value": "ItemaFile"
												}
											}
										]
									},
									{
										"value": "WhenGeograpgyFile",
										"activities": [
											{
												"name": "SetvarResultFileName5",
												"type": "SetVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "VarResultFileName",
													"value": "GeographyFile"
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "SetVaRResultFileName0",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "VarResultFileName",
											"value": "DefaultFile"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"VarFileName": {
				"type": "String"
			},
			"VarResultFileName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-12T09:45:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}