pipeline/pl_008_LookupDbData.json
{
	"name": "pl_008_LookupDbData",
	"properties": {
		"activities": [
			{
				"name": "LookupDB",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_employee_test2]",
						"storedProcedureParameters": {
							"state": {
								"type": "String",
								"value": "Arizona"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureDbCustomerData",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachCustomer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupDB').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetVarCustomer",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "VarX",
								"value": {
									"value": "@item().Name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"VarX": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-10T16:15:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}