pipeline/pl_007_LookupAdlsFiles.json
{
	"name": "pl_007_LookupAdlsFiles",
	"properties": {
		"activities": [
			{
				"name": "LookupFileData",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "LookupAdlsCustomerFile",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupFileData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupFileData').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SetVarCustomerData",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "VarCustomerData",
								"value": {
									"value": "@item().Name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"VarCustomerData": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-10T15:29:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}